.alien-grid {
    display: grid;
    grid-template-columns: repeat(16,50px);
    gap:20px;
    margin-bottom:20px;
}

.yellow-alien-grid {
    top:80px;
}

.green-alien-grid {
    top:160px;
}

.empty {
    width:50px;
    height:50px;
}